*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
:root{
  --bg-color:#1f242d;
  --second-bg-color:#323946;
  --text-color:#fff;
  --main-color:#0ef;
}
.light-theme{
  --bg-color:#edf2fc;
  --second-bg-color:#dde0db;
  --text-color:#000;
  --main-color:#ff5c35;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
}
body{
  background: var(--bg-color);
  color: var(--text-color);
}
.contianer {
  min-height:100vh;
  padding: 10rem 2% 9%;
}
.add{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}
.add input{
  padding: 12px 15px;
  margin-bottom: 15px;
}
.btn{
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  color: var(--second-bg-color);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: 0.5s ease;
}
.btn:hover{
  color: var(--main-color);
  background:var(--second-bg-color);
}
.add p{
  margin-top: 15px;
  padding: 12px 15px;
  font-size: 1.7rem;
}
